// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';


// Main menu
ul.menu.nav.navbar-nav {
  margin-top: 2em;
  margin-left: 15em;
  li {
    background-color: lightgrey;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border: 1px solid darkgrey;
    margin-left: -0.5em;
    a {
      border-top-left-radius: 0.4em;
      border-top-right-radius: 0.4em;
      padding: 0.25em 1em 0.25em 1em;
    }
  }
  li.active {
    z-index: 100;
  }
}


// Anonymous login/password/register pages.
body.path-user {
  background-image: url('../images/cresting-wave.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
body.path-user div#top_part div.logo {
  background-image: url('../images/aegir_logo.svg');
  width: 175px;
  height: 52px;
  display: table;
  margin: 0 auto;
}
body.path-user.user-logged-in,
body.path-user div#middle_part label.form-required:after {
  background-image: none;
}
body.path-user div#middle_part {
  position: relative;
}
body.path-user div#middle_part > div.links {
  position: absolute;
  bottom: 0.8em;
  left: 8em;
}
body.path-user div#middle_part > div.links a {
  color: LightGrey;
}
body.path-user div#middle_part > div.links a:hover {
  color: #337ab7;
  text-decoration: none;
}
body.path-user div#middle_part input {
  width: 100%;
}
body.path-user div#middle_part h2.title {
  display: none;
}
body.path-user div#middle_part .login-link {
  position: absolute;
  bottom: 0.8em;
  right: 1em;
}
body.path-user div#middle_part .login-link a:hover {
  text-decoration: none;
}


// Operations views
@keyframes pulsating {
  0% { background: LightGray }
  50% { background: Silver }
  100% { background: LightGray }
}
@mixin bganimation($scheme) {
  animation-name: $scheme;
  animation-duration: 1s;
  -ms-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: infinite;
}
table > tbody {
  tr.operation-row.dispatched {
    background-color: LightGrey;
    @include bganimation(pulsating);
  }
  tr.operation-row.ok,
  tr.platform-row.ok,
  tr.site-row.ok {
    background-color: PowderBlue;
  }
  tr.operation-row.changed,
  tr.platform-row.changed,
  tr.site-row.changed {
    background-color: PaleGreen;
  }
  tr.operation-row.warnings,
  tr.platform-row.warnings,
  tr.site-row.warnings {
    background-color: Gold;
  }
  tr.operation-row.failed,
  tr.platform-row.failed,
  tr.site-row.failed,
  tr.operation-row.unknown,
  tr.platform-row.unknown,
  tr.site-row.unknown,
  tr.operation-row.unreachable,
  tr.platform-row.unreachable,
  tr.site-row.unreachable {
    background-color: Salmon;
  }
}

.operations-view > .view-header {
  float: left;
  width: 50%;
  overflow-wrap: break-word;
}
.site-row,
.platform-row {
  .views-field {
    padding-top: 0.8em;
  }
  .views-field-operation-status {
    padding-top: 0.4em;
  }
}
.operation-row {
  div.operation-type-label {
    margin-top: 0.4em;
  }
  .views-field-view-operation-log,
  .views-field-run-operation {
    width: 15%;
  }
  .views-field-view-operation-log {
    padding-right: 1em;
  }
}
$button_color: #337ab7;
.operation-button {
  background-color: $button-color;
  padding: 0.25em 1em;
  border-radius: 0.3em;
  color: white;
}
.operation-button:hover {
  background-color: lighten( $button-color, 20% );
  text-decoration: none;
  color: white;
}
.operation-button.is-disabled,
.operation-button.is-disabled:hover {
  background-color: Grey;
}
.aegir_platform,
.aegir_site {
  .field--name-name {
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 0.5em;
  }
}

// Modal
@media (min-width: 1024px) {
  .modal-dialog {
    width: 1000px;
  }
}
$header-color: #143352;
.modal-header {
  background-color: $header-color;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  color: white;
}

body {
  background-color: beige;
}
.region-header {
  .page-header {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.region-content {
  .view-content .table-responsive {
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
  }
}
thead {
  background-color: $header-color;
  //color: #337ab7;
  color: white;
  a {
    color: white;
  }
  a:hover, a:focus {
    text-decoration: none;
  }
}
.region-sidebar-second {
  padding: 0;
  h2 {
    margin: 0;
    background-color: $header-color;
    color: white;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    padding: 0.3em 0.5em;
    font-size: 150%;
  }
  .menu.nav {
    padding: 0.5em 1em;
    li > a {
      padding: 0;
    }
  }
}

a.use-ajax.cancel-modal {
  float: right;
  top: 2.2em;
  position: relative;
  margin-left: 0.5em;
}
